<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul th:each="tag : ${tag}">
    	<li><h2 th:text="${tag.tagName}"></h2></li>
    </ul>

    <form action="tags/allTags" method="POST">
					
		<label>Tag name:<input type="text" name="tagName" placeholder="Example: Classic, Gory" /></label>
				
		<button type="submit">Submit</button>

	</form>

</body>
</html>