<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Individual Genre</title>
</head>
<body>

	<section>
		<ul th:each="post : ${genre.posts}">
			<li>
				<h2><a th:text="${post.title}" th:href="@{|/post/${post.id}|}">Default</a></h2>
			</li>
		</ul>
	</section>

	<section>
		<form th:action
	</section>

</body>
</html>