<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>Bloody Popcorn</title>
</head>

<body>

	<h1>Bloody Popcorn</h1>
	<h2>A horror movie blog (Enter if you dare)</h2>
	<h2><a href="/post/allPosts">See all blog posts or add a post</a>
	<h2>Search posts by:</h2>
    <h3><a href="/author/allAuthors">Author</a></h3>
    <h3><a href="/genre/allGenres">Genre</a></h3>
    <h3><a href="/tags/allTags">Tag</a></h3>

</body>

</html>