<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <title>Bloody Popcorn</title>
</head>


<body>

<div class="container-body-mainPage">
    
    <main>
    <div class="container-main-mainPage">
        <section class="title-lines">
            <h1>Bloody Popcorn</h1>
            <h2>A horror movie blog (Enter if you dare)</h2>
        </section>

        <section class="text-all-posts">
                <h2><a href="/post/allPosts">See all blog posts or add a post</a></h2>
        </section>

        <section class="mainPage-text">
            <h3>Search posts by:</h3>
            <div class="text-search-choices">
        	    <h4><a href="/author/allAuthors">Author</a></h4>
        	    <h4><a href="/genre/allGenres">Genre</a></h4>
        	    <h4><a href="/tags/allTags">Tag</a></h4>
            </div>
        </section>
	</div>
    </main>
    

    <footer class="footer">
        <div class="footer__content">
            <p>This site was made using Visual Studio Code,
                Submlime and Gimp. <br>Icons are by <a href="https://fontawesome.com/">Font Awesome.</a></p>
            <p>© 2019 Made in the USA</p>
        </div>
    </footer>
</div>

</body>

</html>